
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  text-decoration: none;
}

footer {
  background-color: darkblue;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  width: 100vw;
}

.PortDj-Start {
  padding: 25px;
  text-align: center;
  position: relative;

  background-color: darkblue;
  color: white;
  width: 100vw;
}

.DjanoPFP {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.PortSectie1 {
  background-color: rgb(228, 228, 228);
  width: 600px;
  border-radius: 25px;
  padding: 15px;
}

.Flexbox1{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 50px
}

.Project {
  background-color: rgb(228, 228, 228);
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  width: 60vw;
  margin: auto;
}

.PortSectie2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.PortImg {
  width: 300px;
  height: 150px;
width: 40vw;
height: 20vw;
}

.Projecten{
  padding: 20px;
  text-align: center;
  width: 100vw;
}

.ProjectButton{
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
  transition:500ms ease;
}

.FooterButton{
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  background-color: darkblue;
  color: white;
  border-color: white;
  transition:500ms ease;
  margin-left: 5px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}